<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Document</title>
</head>

<body>
    <h1>Submit your cool facts!</h1>
    <form>
        <label for="fname">Before anything would you be so kind to let us know your name!</label><br>
        <input type="text"><br>
        <label for="lname">So you have some awesone facts you want to share with us? go on ahead and let us know below!</label><br>
        <input type="text" value="we know cats are cute already so come up with another one!"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>